.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(228, 228, 228);
    
}

.left-section {
    display: flex;
    align-items: center;
   
}

.coder {
    margin-left: 10px;
    margin-top: 4px;
    vertical-align: middle;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.8);
}

.hamburger-menu {
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.youtube-logo {
    height: 20px;
}

.middle-section {
    display: flex;
    flex: 1;
    margin-left: 40px;
    margin-right: 35px;
    max-width: 500px;
    align-items: center;

}

.search-bar {
    flex: 1;
    height: 40px;
    padding-left: 12px;
    font-size: 16px;
    border-radius: 2px;
    border: 1px solid rgb(192, 192, 192);;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0;
}

.search-bar:active {
    border-color: red;
}

.search-bar::placeholder {
    font-size: 16px;   
}

.search-button {
    height: 40px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    margin-left: -1px;
    margin-right: 10px;
    
}

.search-button,
.voice-search,
.upload-icon-container,
.apps-icon-container,
.noti-icon-container,
.profile-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 10px;
}

.search-button .tooltip,
.voice-search .tooltip,
.upload-icon-container .tooltip,
.apps-icon-container .tooltip,
.noti-icon-container .tooltip {
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search:hover .tooltip,
.upload-icon-container:hover .tooltip,
.apps-icon-container:hover .tooltip,
.noti-icon-container:hover .tooltip
 {
    opacity: 1;
}

.search-icon {
    height: 25px;
}

.voice-search {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(245, 245, 245);
}

.voice-icon {
    height: 24px; 
    cursor: pointer;
}

.right-section {
    display: flex;
    /* width: 180px; */
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}

.upload-icon {
    height: 24px;
    cursor: pointer;
}

.apps-icon {
    height: 24px;
    cursor: pointer;
}

.noti-icon {
    height: 24px;
    cursor: pointer;
}

.noti-count {
    position: absolute;
    top: -3px;
    right: 2px;
    background-color: rgb(200, 0, 0);
    color: white;
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
}

.user-picture {
    height: 32px;
    border-radius: 16px;
}

.profile-content {
    cursor: pointer;
    position: relative;
}

.content-wrapper {
    display: none;
    position: absolute;
    top: 0;
    right: 50px;
    width: 298px;
    animation: modalFadeIn ease 0.5s;
   z-index: 10;
}

.first-section {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 16px;
    border: 1px solid rgb(228, 228, 228);
}

.second-section {
    height: 90vh;
    min-height: 100%;
    min-width: 100%;
    overflow-x: scroll;
}

.second-section::-webkit-scrollbar-track {
    border-radius: 15px;
    background-color: white;
}

.second-section::-webkit-scrollbar-thumb {
    background-color: #262a39;
    border-radius: 10px;
}

.second-section::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.first-section .user-picture-content {
    height: 40px;
    border-radius: 20px;
    margin-right: 16px;
}

.first-section .manage-account {
    font-size: 14px;
    color: rgb(6, 95, 212) !important;
}

.content-section {
    background-color: #fff;
    padding: 8px 0;
    border: 1px solid rgb(228, 228, 228);
}

.body-section {
    padding: 0 36px 0 16px;
    display: flex;
    flex-direction: row;
    background-color: white;
    font-size: 14px;
   
}

.body-section:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.body-section i {
    width: 34px;
    line-height: 34px;
    font-size: 20px;
    height: 40px;
}

.body-section p {
    line-height: 34px;
}

.content-wrapper.open {
    display: block;
}

.fa-angle-right {
    height: 34px;
    margin-left: auto;
}

@keyframes modalFadeIn {
    from {
       
        transform: translateX(50px);
    }
    to {
        
        transform: translateX(0);
    }
}